{% extends "hr_service/index.html" %}


{% block content %}

<h1>{{ section.title }}</h1>
<body>
    <h1>Добро пожаловать! Можешь пройти тест: </h1>
    
    <form action="thanks/" method="post">
        {% csrf_token %}
        {% for question in questions %}
            <label for="answer">{{question.question}}</label><br>
            <input type="checkbox" name="answer" id="answer[]" value="{{question.id}}"><br>
        {% endfor %}
        
        <input type="submit" value="Закончить">
    </form>


</body>
{% endblock %}
