{% extends "hr_service/index.html" %}


{% block content %}

<h1>{{ section.title }}</h1>
<body>
    <h3>Список Джедаев:</h3>
    

    <ul>
        {% for jedi in jedis_and_padawans %}
            <li><a href="{% url 'candidates:candidates' jedi.id jedi.planet_id %}">{{ jedi.name }} ({{jedi.padawan__count}} падаванов)</a></li>
        {% endfor %}
    </ul>

    <hr>
    <h3>Список Джедаев, у которых больше 1 падавана:</h3>
    <ul>
            {% for jedi in jedis_and_padawans %}
                {% if jedi.padawan__count > 1 %}
                    <li><a href="{% url 'candidates:candidates' jedi.id jedi.planet_id %}">{{ jedi.name }} ({{jedi.padawan__count}} падаванов)</a></li>
                {% endif %}
            {% endfor %}
        </ul>

</body>
{% endblock %}
