{% extends "hr_service/index.html" %}


{% block content %}

<h1>{{ section.title }}</h1>
<body>
    <h3>Список Джедаев:</h3>
    

    <ul>
        {% for jedi, padawans in jedis_and_padawans.items %}
            <li><a href="{% url 'candidates:candidates' jedi.id jedi.planet_id %}">{{ jedi.name }} ({{padawans}} padawans)</a></li>
        {% endfor %}
    </ul>

    <hr>
    <h3>Список Джедаев, у которых больше 1 падавана:</h3>
    <ul>
            {% for jedi, padawans in jedis_and_padawans.items %}
                {% if padawans > 1 %}
                    <li><a href="{% url 'candidates:candidates' jedi.id jedi.planet_id %}">{{ jedi.name }} ({{padawans}} padawans)</a></li>
                {% endif %}
            {% endfor %}
        </ul>

</body>
{% endblock %}
